body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

.heroImg {
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(Photos/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  flex-direction: column;
}

.heroImg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  padding-top: 20px;
  margin: 0 50px 0;
  position: relative;
}

.freshest {
  font-size: larger;
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  list-style-type: none;
}

.nav-links a {
  padding: 0 10px;
  text-decoration: none;
  margin-bottom: 0;
}

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: -75.5px;
}

.heroContainer h1 {
  font-size: 100px;
  border-bottom: 1px solid #fff;
}

.heroContainer h2 {
  font-size: 50px;
  font-weight: 100;
  margin-top: -50px;
}

.content {
  display: flex;
  background-color: black;
}

.Photo {
  height: 450px;
}

.Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 100px;
}

.Text h3 {
  font-size: 50px;
}

.Text p {
  font-weight: 100;
  font-size: 30px;
  margin-top: -20px;
}

.pineapple {
  background-color: #121212;
  flex-direction: row-reverse;
}

.pasta {
  background-color: #212121;
}
